<head>
	<style type="text/css">
	body{
	    background-image: url("{{=URL('static','images/fondo-admin.jpg')}}");
	    background-position: center center;
	    background-repeat: no-repeat;
	    background-attachment: unset;
	    background-size: cover;

	}

	</style>
	<link rel="stylesheet" href="{{=URL('static','css/bootstrap.min.css')}}"/>
	
</head>
<body>
	<br>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<center>
					<div class="col-md-4 col-md-offset-4">
					<div style="background-color: rgba(54, 25, 25, .6);" class="panel panel-default">

						
							<h1>Administración</h1>
							
							<hr>
							<br>
		
						<div>
							
							<a href="{{=URL('AdminController','usuarios')}}" type="button" style="width:250px" class="btn btn-success"><span style="font-size:15px">Ver Tabla Usuarios</span></a>
							
						</div>
						<br>
						<div>
							<a href="{{=URL('AdminController','editarUsuario')}}" type="button" style="width:250px"  class="btn btn-warning"><span style="font-size:15px">Editar un Usuario</span></a>

						</div>
						<br>
						<div>
							<a href="{{=URL('AdminController','pregResp')}}" type="button" style="width:250px"  class="btn btn-success"><span style="font-size:15px">Ver Preguntas / Respuestas</span></a>
							
						</div>
						<br>
						<div>
							<a href="{{=URL('AdminController','editarPregResp')}}" type="button" style="width:250px"  class="btn btn-warning"><span style="font-size:15px">Editar Pregunta / Respuesta</span></a>
						</div>
						<br>
						<div>
							<a href="{{=URL('AdminController','cargarPreg')}}" type="button" style="width:250px"  class="btn btn-success"><span style="font-size:15px">Cargar Pregunta</span></a>
						</div>
						<br>
						<div>
							<a href="{{=URL('AdminController','cargarPregLine')}}" type="button" style="width:250px"  class="btn btn-danger"><span style="font-size:14px">Cargar Pregunta en una linea</span></a>
						</div>
						<br>
						<hr>
						<br>
						<div>
							<a href="{{=URL('JugadorController','cerrar')}}" type="button" style="width:250px"  class="btn btn-danger"><span style="font-size:15px">Salir</span></a>
						</div>
						<br>
						<br>
					</div>
					</div>
				</center>
			</div>	
		</div>
		
	</div>
</body>