<form action="{{=URL('preguntasController','cargarPreg')}}" method="post">
          
          <div>
            <label>
              Pregunta<span class="req"></span>
            </label>
            <input type="text" name="desc"/>
          </div>
          <div>
            <label>
              Categoria<span class="req"></span>
            </label>
            <input type="text" name="cat"/>
          </div>
          <div>
            <label>
              imagen<span class="req"></span>
            </label>
            <input type="text" name="img"/>
          </div>
          <div>
            <label>
              Respuesta 1<span class="req"></span>
            </label>
            <input type="text" name="resp1"/><input type="text" name="opcion1"/>
          </div>
          <div>
            <label>
              Respuesta 2<span class="req"></span>
            </label>
            <input type="text" name="resp2"/><input type="text" name="opcion2"/>
          </div>
          <div>
            <label>
              Respuesta 3<span class="req"></span>
            </label>
            <input type="text" name="resp3"/><input type="text" name="opcion3"/>
          </div>
   
         
  
          <div>
            <button class="button button-block"/><h1>Cargar</h1></button>
          </div>
          
          
</form>