{{extend 'layout.html'}}


<body id="fondo-preguntas">
		    
  <br>
  <div class="container">
  <div class="hidden-xs">
  <br>
  <br>
  <br>  
  </div>
  

 
      <div id="cuadro-preguntas">
        <div id="preload" class="panel-body">
            <center><img src="{{=URL('static/images','preload.gif')}}" alt=""></center>
        </div>
      </div>

   <div id="segunda-pantalla" class="container hidden">
     
    <div class="row">
      <div row="visible-xs">
      <br>
        <br>
        <br>
        <br>
      </div>
        
      <div class="col-md-12 col-xs-12" id="titulo-memoria">
        

      <div class="col-md-12 col-sm-12 col-xs-12" id="titulo-memoria">
        <center>
        <img class="img-responsive" id="inicio-mapa" height="6" src="{{=URL('static/images','2pantalla-pregunta.png')}}" alt="">
        </center>  
        <div class="col-md-10 col-offset-md-2 col-xs-10 col-offset-xs-3">

        <center>
          <img class="img-responsive animated flash" id="titulo-memoria" src="{{=URL('static/images','titulo-pregunta.png')}}" alt="juego preguntas">
        </center>  
        </div>
       </div>
      
          <div class="col-md-4 col-xs-6 col-xs-offset-6  ">

            <div class="row">
              <div class="col-md-6 col-md-offset-5 col-xs-6 col-xs-offset-6">

                <center>          
                  <a>
                    <img class="img-responsive" id="jugar-preguntas" src="{{=URL('static/images','bc-boton-jugar.png')}}" alt="jugar">
                  </a>
                </center>              
              </div> 

            </div>

          </div>
      </div>
    </div>
  </div>

      <div id="tercer-pantalla" class="container hidden">
        <div class="row">
       
            <div class="col-md-4 col-sm-4 col-xs-4">
              <center>
              <br>
                      <div class="row">
                          <div id="vidas" class="col-md-4 col-sm-3 col-xs-5">
                            <img src="{{=URL('static/images','vidas.png')}}" alt="numeros de intentos">
                          </div>
                          <div class="col-md-3 col-sm-3 col-xs-3">
                              <img src="{{=URL('static/images','vidas.png')}}" alt="numeros de intentos">
                          </div>
                          <!--<h1>Intentos Restante: <p id="intentos">2</p></h2>-->
                     </div>
              </center>
             
             </div>
        

            <div class="col-md-4 col-sm-4 col-xs-4 puntos">
              <div class="boxIndicador">
                <div class="points">
                  <div class="boxArrow">
                    <div id="numPuntos" class="numIndicador">0</div>
                    <div id="titPuntos" class="titIndicador">Puntos</div>
                  </div>
                  <div class="bgArrow"></div>
                </div>
              </div>
            </div>


          <div class="col-md-4 col-sm-4 col-xs-4">
              <center>
                  <div class="boxIndicador" id="cajaTiempo">
                    <div id="numTiempo" class="numIndicador">
                        <h3 id="crono">00:00:00</h3>
                    </div>

                    <div id="titTiempo" class="titIndicador">Tiempo</div>
                  </div>
              </center>
          </div> 


        </div>

          <div class="row">

              <center><h1 id="categoria"></h1></center>   
              <div class="col-md-6 col-md-offset-3">
                  
                  <center><h2 id="pregunta"></h2><input class="hidden" id="idPregunta"></label></center>
                  <center><img class="img-responsive hidden img-thumbnail" src="" style=" max-width: 250px; max-height: 200px;" id="imagen-escultura" alt=""><br></center><br>
                  <center>    
                         <div class="btn-group-vertical row" role="group">      
                            <button  id="respuesta1" class="respuesta col-md-6 respuesta"></button>
                               <br>                                             
                            <button  id="respuesta2" class="respuesta col-md-6 respuesta"></button>
                              <br>                                                  
                            <button id="respuesta3" class="respuesta col-md-6 respuesta"></button>
                          </div>
                  
                    
                  </center>

              </div>
              
          </div>
     
          
          <audio id="incorrecto" src="{{=URL('static/sonidos','ouch.mp3')}}"> </audio>
          <audio id="correcto" src="{{=URL('static/sonidos','homer_simpson_yuju.mp3')}}"> </audio>
          
      </div>
      
      <div id="looser-pantalla" class="hidden">
         <br>
         <br>
         <br>
          
           <div class="row">
             <div class="col-md-6">
                <center><h1 id="perdiste">PERDISTE!!!</h1></center><br>
             </div>
           </div>
            
            <div class="col-md-5 col-md-offset-3 panel panel-body">

                  <div class="row">

                    <div class="col-md-6 col-xs-6">
                      <h5>RESPUESTAS CORRECTAS:</h5>
                    </div>
                    <div class="col-md-6 col-xs-6">
                     <h5><span id="resp_correctas" class="label label-success"></span></h5>
                    </div>
                    
                  </div>  
                       
                  <div class="row">
                    <div class="col-md-6 col-xs-6">
                      <h5> TIEMPO:</h5>
                    </div>
                    <div class="col-md-6 col-xs-6">
                     <h5><span id="tiempo" class="label label-success"></span></h5>
                    </div>
                  </div>

                <div class="row">
                  <div class="col-md-6 col-xs-6">
                    <h5>PUNTAJE TOTAL: </h5>
                  </div>
                  <div class="col-md-6 col-xs-6">                                  
                      <h5><span  id="total" class="label label-success"></span></h5>                    
                  </div>
                </div>
  
              <center><h1><a id="reintentar">REINTENTAR</a></h1></center>
          </div>
      </div>
    
  </div><!--fin container cuadro-preguntas -->
  


    <!--MODAL PARA INGRESAR EL NOMBRE-->
    <div class="modal fade" id="mostrarmodal" tabindex="-1" role="dialogaria-labelledby='basicModal' aria-hidden='true'">
          <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <h3>Ingrese Nombre</h3>
               </div>
               <div class="modal-body">
                  <input type="text" class="form-control"  name="nomJugador" id="nomJugador">  
                  
                </div>
               <div class="modal-footer">
                <button onclick="ajax('registro', '', 'LblnomJugador')" href="#" data-dismiss="modal" class="btn btn-info" id="btn-nom">Aceptar</button>
               </div>
            </div>
          </div>
    </div>

<script src="{{=URL('static','js/preguntas.js')}}"></script> 
</body>
  
    