<!DOCTYPE html>
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <!-- www.phpied.com/conditional-comments-block-downloads/ -->
    <!-- Always force latest IE rendering engine
         (even in intranet) & Chrome Frame
         Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
    

    <!--  Mobile Viewport Fix
          j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
          device-width: Occupy full width of the screen in its current orientation
          initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
          user-scalable = yes allows the user to zoom in -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{{=response.title or request.application}}</title>
    <!-- http://dev.w3.org/html5/markup/meta.name.html -->
    <meta name="application-name" content="{{=request.application}}">
    <!-- Speaking of Google, don't forget to set your site up:
         http://google.com/webmasters -->
    <meta name="google-site-verification" content="">

   
    <link rel="stylesheet" href="{{=URL('static','css/bootstrap.min.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/web2py-bootstrap3.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{=URL('static/css', 'animate.css')}}">
    <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
  
    
    
    <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">
    <!-- All JavaScript at the bottom, except for Modernizr which enables
         HTML5 elements & feature detects -->
    <script src="{{=URL('static','js/modernizr-2.8.3.min.js')}}"></script>
    <link rel="stylesheet" href="{{=URL('static','css/normalize.css')}}">
    <link rel="stylesheet" type="text/css" href="{{=URL('static/css', 'style.css')}}"> 
    
  <!--  <link rel="stylesheet" type="text/css" href="{{=URL('static/css', 'jugador.css')}}"> -->
    
    <link rel="stylesheet" type="text/css" href="{{=URL('static/css', 'mapa.css')}}">

    <link rel="stylesheet" href="{{=URL('static','css/es-v3-9-7.css')}}"/>
    
  
    <!--[if lt IE 9]>
        <script src="{{=URL('static','js/respond-1.4.2.min.js')}}"></script>
        <![endif]-->
    <!-- Favicons -->
    {{include 'web2py_ajax.html'}} <!-- this includes jquery.js, calendar.js/.css and web2py.js -->
    {{block head}}{{end}}
    {{
    # using sidebars need to know what sidebar you want to use
    mc0 = 'col-md-12'
    mc1 = 'col-md-9'
    mc2 = 'col-md-6'
    left_sidebar_enabled = globals().get('left_sidebar_enabled', False)
    right_sidebar_enabled = globals().get('right_sidebar_enabled', False)
    middle_column = {0: mc0, 1: mc1, 2: mc2}[
    (left_sidebar_enabled and 1 or 0)+(right_sidebar_enabled and 1 or 0)]
    }}
  </head>
  <body>
    <!--[if lt IE 8]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
    <div class="w2p_flash alert alert-dismissable">{{=response.flash or ''}}</div>
    <!-- Navbar ======================================= -->
    
    <!--<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {{=response.logo or ''}}
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            {{='auth' in globals() and auth.navbar('Welcome',mode='dropdown') or ''}}
          </ul>
          {{if response.menu:}}
          {{=MENU(response.menu, _class='nav navbar-nav',li_class='dropdown',ul_class='dropdown-menu')}}
          {{pass}}
        </div>
      </div>
    </nav>-->

    <!-- Masthead ===================================== -->    
    {{block header}}
    {{end}}
    <!-- Main ========================================= -->
    <!-- Begin page content -->
    
 {{if session.jugador==None:}}

 
  <div class="container-fluid">
     

      <div class="ocultar-menu hidden-xs" id="side-menu" style="right: -318px;">
        
        <a class="side-menu-tab" id="fake-tab" href="#">
      
        </a>
        
        <a class="side-menu-tab" id="main-tab1">
          <div class="vertical-text"><span id="verificador-menu">Menú</span></div>
        </a>
       <a class="side-menu-tab" id="mas-tab">
          <div class="vertical-text"><span id="verificador-mas">Más</span></div>
        </a>
      

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h2>{{=session.invitado}}</h2>

          <div id="inner-side-menu">
              
                <div class="side-menu-page">
                  <div id="side-menu-title-box">
                    <div id="side-hover-container">
                      <canvas width="131" height="96" class="hover-icon" style="opacity: 1;"></canvas>
                      <canvas width="131" height="96" class="hover-icon" style="opacity: 0.01;"></canvas>
                      <canvas width="131" height="96" class="hover-icon" style="opacity: 0.01;"></canvas>
                      <canvas width="131" height="96" class="hover-icon" style="opacity: 0.01;"></canvas>
                      <canvas width="131" height="96" class="hover-icon" style="opacity: 0.01;"></canvas>
                    </div>
                    <img class="side-menu-title-line" src="{{=URL('static/images','line-red.png')}}">
                  </div>
                
                  <div class="side-menu-button" id="menuB1">
                    <div class="button-default">
                      <canvas width="305" height="83" style="width: 100%; height: 100%;"></canvas>
                      <div class="side-menu-button-text" id="vmenu">Menú principal</div>
                    </div>

                    <div class="button-hover" id="menuB2">
                      <canvas width="305" height="83" style="width: 100%; height: 100%;"></canvas>
                      <div class="side-menu-button-text"><a href="{{=URL('HomeController','index')}}">Menú principal</a></div>
                    </div>
                  </div>

                   <div class="side-menu-button" id="logB1">
                    <div class="button-default">
                      <canvas width="305" height="83" style="width: 100%; height: 100%;"></canvas>
                      <div class="side-menu-button-text">Login</div>
                    </div>
                    <div class="button-hover" id="logB2">
                      <canvas width="305" height="83" style="width: 100%; height: 100%;"></canvas>
                      <div class="side-menu-button-text"><a href="{{=URL('JugadorController','login')}}">Login</a></div>
                    </div>
                  </div>

                  <div class="side-menu-button" id="regB1">
                    <div class="button-default">
                      <canvas width="305" height="83" style="width: 100%; height: 100%;"></canvas>
                      <div class="side-menu-button-text">Registrar</div>
                    </div>
                    <div class="button-hover" id="regB2">
                      <canvas width="305" height="83" style="width: 100%; height: 100%;"></canvas>
                      <div class="side-menu-button-text"><a href="{{=URL('JugadorController','registro')}}">Registrar</a></div>
                    </div>
                  </div>
                                  

                  <div class="side-menu-button" id="rankingB">
                    <div class="button-default">
                      <canvas width="305" height="83" style="width: 100%; height: 100%;"></canvas>
                      <div class="side-menu-button-text">Ranking</div>
                    </div>
                    
                  </div>
                
                <div class="side-menu-button hidden" id="sugB1">
                    <div class="button-default">
                      <canvas width="305" height="83" style="width: 100%; height: 100%;"></canvas>
                      <div class="side-menu-button-text" id="vmenu">Sugerinos!</div>
                    </div>

                    <div class="button-hover hidden" id="sugB2">
                      <canvas width="305" height="83" style="width: 100%; height: 100%;"></canvas>
                      <div class="side-menu-button-text"><a href="{{=URL('HomeController','index')}}">Sugerinos!</a></div>
                    </div>
                  </div>               
                <div class="side-menu-button hidden" id="valorB1">
                    <div class="button-default">
                      <canvas width="305" height="83" style="width: 100%; height: 100%;"></canvas>
                      <div class="side-menu-button-text" id="vmenu">Votaciones</div>
                    </div>

                    <div class="button-hover hidden" id="valorB2">
                      <canvas width="305" height="83" style="width: 100%; height: 100%;"></canvas>
                      <div class="side-menu-button-text"><a href="{{=URL('HomeController','index')}}">Votaciones</a></div>
                    </div>
                  </div>
                
                  <div class="side-menu-button hidden" id="recomend1">
                    <div class="button-default">
                      <canvas width="305" height="83" style="width: 100%; height: 100%;"></canvas>
                      <div class="side-menu-button-text" id="vmenu">Recomendados</div>
                    </div>

                    <div class="button-hover hidden" id="recomend2">
                      <canvas width="305" height="83" style="width: 100%; height: 100%;"></canvas>
                      <div class="side-menu-button-text"><a href="{{=URL('HomeController','index')}}">Recomendados</a></div>
                    </div>
                  </div>

                  <div class="side-menu-button hidden" id="nosotrosB1">
                    <div class="button-default">
                      <canvas width="305" height="83" style="width: 100%; height: 100%;"></canvas>
                      <div class="side-menu-button-text" id="vmenu">Acerca de...</div>
                    </div>

                    <div class="button-hover hidden" id="nosotrosB2">
                      <canvas width="305" height="83" style="width: 100%; height: 100%;"></canvas>
                      <div class="side-menu-button-text"><a href="{{=URL('HomeController','index')}}">Acerca de...</a></div>
                    </div>
                  </div>


              </div>
          </div>
      </div>
  

      {{else:}}

      <div class="container-fluid">
     

      <div class="ocultar-menu" id="side-menu" style="right: -314px;">
        
        <a class="side-menu-tab" id="fake-tab" href="#">
      
        </a>
        
          <a class="side-menu-tab" id="main-tab1">
          <div class="vertical-text"><span id="verificador-menu">Menú</span></div>
        </a>
       <a class="side-menu-tab" id="mas-tab">
          <div class="vertical-text"><span id="verificador-mas">Más</span></div>
        </a>
      
          

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h2>{{=session.jugador}}</h2>
        

          <div id="inner-side-menu">
              
                <div class="side-menu-page">
                  <div id="side-menu-title-box">

                    <div id="side-hover-container">
                      <canvas width="131" height="96" class="hover-icon" style="opacity: 1;"></canvas>
                      <canvas width="131" height="96" class="hover-icon" style="opacity: 0.01;"></canvas>
                      <canvas width="131" height="96" class="hover-icon" style="opacity: 0.01;"></canvas>
                      <canvas width="131" height="96" class="hover-icon" style="opacity: 0.01;"></canvas>
                      <canvas width="131" height="96" class="hover-icon" style="opacity: 0.01;"></canvas>
                    </div>

                    <img class="side-menu-title-line" src="{{=URL('static/images','line-red.png')}}">
                  </div>
                
                  <div class="side-menu-button" id="menuB1">
                    <div class="button-default">
                      <canvas width="305" height="83" style="width: 100%; height: 100%;"></canvas>
                      <div class="side-menu-button-text">Menú principal</div>
                    </div>

                    <div class="button-hover" id="menuB2">
                      <canvas width="305" height="83" style="width: 100%; height: 100%;"></canvas>
                      <div class="side-menu-button-text"><a href="{{=URL("HomeController","index")}}">Menú principal</a></div>
                    </div>
                  </div>

                   <div class="side-menu-button" id="logB1">
                    <div class="button-default">
                      <canvas width="305" height="83" style="width: 100%; height: 100%;"></canvas>
                      <div class="side-menu-button-text">Perfil</div>
                    </div>
                    <div class="button-hover" id="logB2">
                      <canvas width="305" height="83" style="width: 100%; height: 100%;"></canvas>
                      <div class="side-menu-button-text"><a href="#">Perfil</a></div>
                    </div>
                  </div>

                  <div class="side-menu-button" id="regB1">
                    <div class="button-default">
                      <canvas width="305" height="83" style="width: 100%; height: 100%;"></canvas>
                      <div class="side-menu-button-text">Ranking</div>
                    </div>
                    <div class="button-hover" id="regB2">
                      <canvas width="305" height="83" style="width: 100%; height: 100%;"></canvas>
                      <div class="side-menu-button-text"><a href="#">Ranking</a></div>
                    </div>
                  </div>
                                  

                  <div class="side-menu-button" id="rankingB">
                    <div class="button-default">
                      <canvas width="305" height="83" style="width: 100%; height: 100%;"></canvas>
                      <div class="side-menu-button-text"><a href="{{=URL('JugadorController','cerrar')}}">Cerrar Session</a></div>
                    </div>
                    </div>
                    
                      <div class="side-menu-button hidden" id="sugB1">
                    <div class="button-default">
                      <canvas width="305" height="83" style="width: 100%; height: 100%;"></canvas>
                      <div class="side-menu-button-text" id="vmenu">Sugerinos!</div>
                    </div>

                    <div class="button-hover hidden" id="sugB2">
                      <canvas width="305" height="83" style="width: 100%; height: 100%;"></canvas>
                      <div class="side-menu-button-text"><a href="{{=URL('HomeController','index')}}">Sugerinos!</a></div>
                    </div>
                  </div>               
                <div class="side-menu-button hidden" id="valorB1">
                    <div class="button-default">
                      <canvas width="305" height="83" style="width: 100%; height: 100%;"></canvas>
                      <div class="side-menu-button-text" id="vmenu">Votaciones</div>
                    </div>

                    <div class="button-hover hidden" id="valorB2">
                      <canvas width="305" height="83" style="width: 100%; height: 100%;"></canvas>
                      <div class="side-menu-button-text"><a href="{{=URL('HomeController','index')}}">Votaciones</a></div>
                    </div>
                  </div>
                
                  <div class="side-menu-button hidden" id="recomend1">
                    <div class="button-default">
                      <canvas width="305" height="83" style="width: 100%; height: 100%;"></canvas>
                      <div class="side-menu-button-text" id="vmenu">Recomendados</div>
                    </div>

                    <div class="button-hover hidden" id="recomend2">
                      <canvas width="305" height="83" style="width: 100%; height: 100%;"></canvas>
                      <div class="side-menu-button-text"><a href="{{=URL('HomeController','index')}}">Recomendados</a></div>
                    </div>
                  </div>

                  <div class="side-menu-button hidden" id="nosotrosB1">
                    <div class="button-default">
                      <canvas width="305" height="83" style="width: 100%; height: 100%;"></canvas>
                      <div class="side-menu-button-text" id="vmenu">Acerca de...</div>
                    </div>

                    <div class="button-hover hidden" id="nosotrosB2">
                      <canvas width="305" height="83" style="width: 100%; height: 100%;"></canvas>
                      <div class="side-menu-button-text"><a href="{{=URL('HomeController','index')}}">Acerca de...</a></div>
                    </div>
                    </div>
                  
              </div>
          </div>
      </div>

      {{pass}}

    <!--  {{if left_sidebar_enabled:}}
        <div class="col-md-3 left-sidebar">
            {{block left_sidebar}}
            <h3>Left Sidebar</h3>
            <p></p>
            {{end}}
        </div>
      {{pass}}-->

     
        {{block center}}
        {{include}}
        {{end}}
     

      <!--{{if right_sidebar_enabled:}}
        <div class="col-md-3">
            {{block right_sidebar}}
            <h3>Right Sidebar</h3>
            <p></p>
            {{end}}
        </div>
      {{pass}}-->

   </div>  

    {{block footer}} <!-- this is default footer -->      
   
   <!-- <footer class="footer">
      <div class="container-fluid">
        <div class="copyright pull-left">{{=T('Copyright')}} &#169; {{=request.now.year}}</div>
          <div id="poweredBy" class="pull-right">
            {{=T('Powered by')}}
            <a href="http://www.web2py.com/">web2py</a>
          </div>
      </div>
    </footer>-->
    {{end}}
    <!-- The javascript =============================== -->
    
    <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
    <script src="{{=URL('static','js/web2py-bootstrap3.js')}}"></script>
    <script src="{{=URL('static','js/raphael-min.js')}}"></script>
    <script src="{{=URL('static','js/preguntas.js')}}"></script>
    <script src="{{=URL('static','js/jugador.js')}}"></script>
    <script src="{{=URL('static','js/functions.js')}}"></script>
    <script src="{{=URL('static','js/mapa.js')}}">


    

    {{block page_js}}{{end page_js}}
    {{if response.google_analytics_id:}}
    <!-- Analytics ==================================== -->
    <script src="{{=URL('static','js/analytics.min.js')}}"></script>
    
    <script type="text/javascript">
      analytics.initialize({
      'Google Analytics':{trackingId:'{{=response.google_analytics_id}}'}
      });
      
    </script>
    
    {{pass}}
    <!-- Share ============================y============ -->
    <script src="{{=URL('static','js/share.js',vars=dict(static=URL('static','images')))}}"></script>
  </body>
</html>
